*{
   box-sizing: border-box;
}
body,html{
   height: 100%;
   margin: 0;
   padding: 0;
}
.b1{
	background-image: url("Kbnlogo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(6px);
	}
.bt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  	z-index: 2;
  	width: 45%;
   	padding: 25px 0;
   	text-align: center;
  	border-top-left-radius: 70px;
  	border-bottom-right-radius: 70px;
  	background-color: rgba(0,0,0,0.3);
  	color: #fff;
  	font-weight: bold;
  	border: 10px inset #fff;
  	font-family: 'Raleway';
  	font-size: 50px;

	}