<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AMRIT MAHOTSAV</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
	<div class='bi'></div>

	<div class='bt'>
		<h2> 75 years of independence</h2>
		<p align="justify">Wishing you an advanced happy independence day to all our staff and their family members.
	    All the staff members along with their family are cordially invited to the independence day celebrations at our institute on 15th August at 9 am.There will be flag hoisting and some cultural events, followed by lunch.Hope you all join and make this event successful.
		</p>
		<!-- <a href=submit.html">accept</a> -->
		  <form action="/dummy" target="_blank">
			<input type="submit" value="accept">
		</form> 

	</div>
</body>
</html>